<!--<connectionStrings>
<add name="NWDB" connectionString="Data Source=.; Inital Catalog=Northwing_CPSC1517; Integrated Secuity=true"
      providerName="System.Data.SqlClient"/>
</connectionStrings>-->


<connectionStrings>
<add name="NWDB" connectionString="Data Source=DESKTOP-5TITK92\SQLEXPRESS; Inital Catalog=Northwing_CPSC1517; Integrated Secuity=true"
      providerName="System.Data.SqlClient"/>
</connectionStrings>