<!--<connectionStrings>
  <add name="FSIS_db" connectionString="Data Source=.;Initial Catalog=FSIS_Database;Integrated Security=True;"
       providerName="System.Data.SqlClient"/>
</connectionStrings>-->



<connectionStrings>
  <add name="FSIS_db" connectionString="Data Source=DESKTOP-5TITK92\SQLEXPRESS;Initial Catalog=FSIS_Database;Integrated Security=True;"
       providerName="System.Data.SqlClient"/>
</connectionStrings>
