@{
    Layout = "~/_Layout.cshtml";
}

@section banner{
    <h1>Using CheckBoxes</h1>
}


<form id="theForm" method="get">
    <button value="submit" type="submit">Submit</button>
    <label for="favouritefood">Pick your favourite food:</label>
    <select id="favouritefood" name="favouritefood">
        <option value="">Please pick...</option>
        <option value="Pizza">Pizza</option>
        <option value="TunaPizza">Tuna Pizza</option>
        <option value="Kaiserschmarrn">Kaiserschmarrn</option>
    </select>



</form>


