<connectionStrings>
<add name="NWDB"
        connectionString="Data Source=.;Initial Catalog=Northwind_CPSC1517;Integrated Security=true"
        providerName="System.Data.SqlClient"/>


 <!--<add name="NWDB"
      connectionString="Data Source=DESKTOP-5TITK92\SQLEXPRESS;Initial Catalog=Northwind_CPSC1517;Integrated Security=true"
      providerName="System.Data.SqlClient"/>-->

</connectionStrings>